.navbar{
    padding-top: 25px;
    align-items: center;
    width: 10vw;
    height: 5vmax;
    min-height: 8vh;
    text-align: center;
}

.logo{
    align-items: center;
    color: white;
    margin-left: 26%;
    margin-bottom: 16%;
    min-width: 5vh;
}

.logo img{
    width: 5vmax;
    cursor: pointer;
}

.signinButton{
    width: 80%;
    padding: 6%;
    align-items: center;
    text-align: center;
    background-color: #dedede;
    border-radius: 10px;
    font-size: 13px;
}

.signinButton:hover {
    background-color: #0056b3;
  }